<!-- About Start -->
{% load static %}
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/about.jpg' %}"
                         style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-uppercase border-bottom border-5" style="color: #ff0000">Биз
                        ҳақимизда</h5>
                    <!--                        <h1 class="display-4">«Yulduz Med Service» клиникаси 2020-йил 11-ноябрда ўз фаолиятини бошлаган✨</h1>-->
                </div>
                <p>«Yulduz Med Service» клиникаси 2020-йил 11-ноябрда ўз фаолиятини бошлаган✨ <br> <br>
                    Ҳозирги кунга келиб бизнинг клиникамизда 20 дан ортиқ ўз касбининг мутахассислари иш фаолиятни
                    юритиб келишмоқда.
                    <br> <br> 🎯 | Бизнинг мақсадимиз: барчага сифатли тиббий хизмат кўрсатиб, соғлом ҳаёт кечиришларини
                    таъминлаш.
                    <br> <br> 📈 | Бизнинг бўлимларимиз: Кардиология, Терапия, Неврология, Гастроэнтерология,
                    Травматология, Хирургия, Флебология, Лаборатория, УЗИ
                    <br> <br> «Yulduz Med Service» - Саломатлигингиз ишончли қўлларда!</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
{#                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>#}
                            <img class="img-fluid rounded-top" src="{% static 'img/5000+.png' %}" alt="">
{#                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>#}
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <img class="img-fluid rounded-top" src="{% static 'img/1000+.png' %}" alt="">
{#                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>#}
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <img class="img-fluid rounded-top" src="{% static 'img/20+.png' %}" alt="">
{#                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>#}
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <img class="img-fluid rounded-top" src="{% static 'img/100.png' %}" alt="">
{#                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->