    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5" style="background-color: #ff0000 !important;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
{#                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Get In Touch</h4>#}
{#                    <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor</p>#}


                    <p class="mb-md-0"><a class="fa fa-phone-alt text-primary me-3" href="tel:+998937400000"> 93 - 740 0000</a></p>
                    <p class="mb-md-0"><a class="fa fa-phone-alt text-primary me-3" href="tel:+998937500000"> 93 - 750 0000</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
{#                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>#}
                    <div class="d-flex flex-column justify-content-start">
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>К.Отаниёзов кўчаси 1/4 (Шошилинч касалхонаси «Экстренная»)</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
{#                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Popular Links</h4>#}
                    <div class="d-flex flex-column justify-content-start">
                        <p class="mb-md-0"><a class="text-primary fa fa-envelope text-primary me-3" href="https://t.me/yulduz_klinika">t.me/yulduz_klinika</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-primary" style="color: #ffffff !important;">Бизни ижтимоий тармоқларда кузатинг!</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" style="background-color: #13c5dd00; border-color: #ffffff;" href="https://t.me/yulduz_klinika"><i class="fab fa-telegram"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" style="background-color: #13c5dd00; border-color: #ffffff;" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" style="background-color: #13c5dd00; border-color: #ffffff;" href="#"><i class="fab fa-facebook-f"></i></a>

                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" style="background-color: #13c5dd00; border-color: #ffffff;" href="https://www.instagram.com/yulduz_klinika/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4" style="background-color: #000000 !important; border-color: #000000 !important;">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="https://www.instagram.com/yulduz_klinika/">«Yulduz Med Service»</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">by <a class="text-primary" href="https://poweruz.tilda.ws/">Power Marketing Agency</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->